In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [8]:
data_market=pd.read_csv('Market_Basket_Optimisation.csv',header=None)
#since we dont have any column name, python maight consider row values as header. So we are using header=None

In [9]:
data_market.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
#the dataset contains 7500 transaction from the super market

In [12]:
# We have to import the data set in a different way for Apriori. It wont work in dataframe
#Apirori--> list

In [23]:
transactions=[]
# it will create a empty list or vector
# 0 to 7500
for i in range(0,7501):
    transactions.append([str(data_market.values[i,j]) for j in range(0,20)])
    #to add each and every row in the list or vector

In [26]:

transactions[0:2]

[['shrimp',
  'almonds',
  'avocado',
  'vegetables mix',
  'green grapes',
  'whole weat flour',
  'yams',
  'cottage cheese',
  'energy drink',
  'tomato juice',
  'low fat yogurt',
  'green tea',
  'honey',
  'salad',
  'mineral water',
  'salmon',
  'antioxydant juice',
  'frozen smoothie',
  'spinach',
  'olive oil'],
 ['burgers',
  'meatballs',
  'eggs',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan']]

In [27]:
from apyori import apriori

In [32]:
#It will take transactions as input and give rules as output
#min_support , (3 time as day*7(week))/7500(total transaction)=0.0028
rules=apriori(transactions,min_support=0.003,min_confidence=0.2,min_lift=3,min_length=2 )

In [33]:
#visualising the results

In [36]:
results=list(rules)